<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td scope="row"><%= order.id %></td>
        <td><%= order.email %></td>
        <td><%= order.phone %></td>
        <td><%= order.bill_firstname %></td>
        <td><%= order.bill_lastname %></td>
        <td><%= order.bill_address1 %></td>
        <td><%= order.bill_address2 %></td>
        <td><%= order.bill_city %></td>
        <td><%= order.bill_state %></td>
        <td><%= order.bill_zipcode %></td>
        <td><%= label_tag order.status, nil, style:"color:orange;" %></td>
        <td>-</td>

        <td><%= link_to 'Details', user_order_path(current_user,order) %></td>
        <td><%= link_to 'Modify', edit_user_order_path(current_user,order) %></td>
        <td ><%= link_to 'Cancel', user_order_path(current_user,order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_user_order_path %>
