 
<h2>Order Page</h2>
<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Bill firstname:</strong>
  <%= @order.bill_firstname %>
</p>

<p>
  <strong>Bill lastname:</strong>
  <%= @order.bill_lastname %>
</p>

<p>
  <strong>Bill address1:</strong>
  <%= @order.bill_address1 %>
</p>

<p>
  <strong>Bill address2:</strong>
  <%= @order.bill_address2 %>
</p>

<p>
  <strong>Bill city:</strong>
  <%= @order.bill_city %>
</p>

<p>
  <strong>Bill state:</strong>
  <%= @order.bill_state %>
</p>

<p>
  <strong>Bill zipcode:</strong>
  <%= @order.bill_zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<h3>Details of Order</h3>
<hr>
<br>
<h4>Order Items</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <% OrderItem.column_names.map do |field| %>
        <th><%= field %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <% @order.order_items.each do |oi| %>
      <tr>
        <th scope="row"> <%= oi.id %> </th>
        <th> <%= number_to_currency oi.unit_price %> </th>
        <th> <%= oi.quantity %> </th>
        <th> <%= number_to_currency oi.total_price %> </th>
        <th> <%= oi.order_id %> </th>
        <th> <%= link_to oi.product.name, product_path(oi.product) %> </th>
        <th> <%= oi.created_at %> </th>
        <th> <%= oi.updated_at %> </th>
      </tr>
      <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_user_order_path(current_user,@order) %> |
<%= link_to 'Back', user_orders_path %>
