<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @product.inventory %>
</p>

<% if @product.categories.size != 0 %>
  <p>
    <strong>Under Category:</strong>
    <p style="text-indent: 50px;"> <%= @product.categories.first.name %></p>
  </p>
<% end %>

<p>
  <strong>Path</strong>
  <% @categories.map do |category| %>
    <p style="text-indent: 50px;"> <%= category.long_name %>  </p>
  <% end %>
</p>

<div class="description">
  <strong>Description</strong>
  <p> <%= @product.description %></p>
</div>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>
<%= form_tag add_to_cart_path, method:"post" do %>
  <div class="col-xs-4 input-group qty-control">
    <%= hidden_field_tag "cart[product_id]", @product.id %>
    <%= number_field_tag "cart[quantity]",nil, class:"form-control input-lg",
        style:"text-align:center;", value:1 ,min:1, max:99
    %>
  	<span class="btn input-group-addon">Units.</span>
  </div>
  <br>
  <div>
    <%= submit_tag 'Add Cart', class:"btn btn-warning"%>
  </div>
<% end %>

<% if current_user.present? and current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
