<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @product.inventory %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>
<%= form_tag add_to_cart_path, method:"post" do %>
  <div class="col-xs-4 input-group qty-control">
    <%= hidden_field_tag "cart[product_id]", @product.id %>
    <%= number_field_tag "cart[quantity]",nil, class:"form-control input-lg", style:"text-align:center;",  min:0, max:99 %>
  	<span class="btn input-group-addon">Units.</span>
  </div>
  <br>
  <div>
    <%= submit_tag 'Add Cart', class:"btn btn-warning"%>
  </div>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
