<div class="navbar-component">
  <nav class="navbar navbar-inverse navbar-fixed-top principal-nav-bar">
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" {{ action "toggleMenu" }}>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="collapse navbar-collapse" style="margin-top: 0.8em;">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <span style="color:lightgray;">Logged in as <strong > <%= current_user.email %> </strong> ||| </span>
            <%= link_to 'Home', home_path%> |
            <%= link_to 'Edit Profile', edit_user_registration_path %> |
            <%= link_to 'My orders', user_orders_path(current_user) %> |
            <%= link_to 'My Cart', cart_path %> |
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> |
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <div id="secondary-navbar">
            <div id="main-submenu">
              <ul>
                <% if current_user.admin?  %>
                  <%= link_to 'All Users', users_path  %> |
                  <%= link_to 'All Categories', categories_path %> |
                <% end %>
              </ul>
            </div>
          </div>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path %> |
          <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
      </div>
    </div>
  </nav>`
</div>
